html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#main_image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

#main_image img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

#captor {
  position: absolute;
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  z-index: 3;
}

#child_image {
  position: relative;
  width: 20vw;
  height: 20vw;
  overflow: hidden;
  border-radius: 50%;
  border: 0.2vw solid white;
  transform: rotate(180deg);
  z-index: 2;
  transition:
    border 1s ease,
    border-radius 0.3s ease,
    height 0.3s ease,
    width 0.3s ease,
    transform 0.5s ease;
}

#child_image img {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: calc(-50vh + 10vw);
  left: calc(-50vw + 10vw);
  object-fit: cover;
  transition-property: top, left;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

#circular_text {
  position: absolute;
  width: 26vw;
  height: 26vw;
  z-index: 2;
  pointer-events: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  transition:
    height 0.3s ease,
    width 0.3s ease,
    transform 1s ease;
}

#captor:hover ~ #child_image {
  border: 0.2vw solid rgba(0,0,0,0);
  /* border-radius: 1%; */
  width: 26vw;
  transform: rotate(0deg);
  height: 26vw;
}

#captor:hover ~ #circular_text {
  width: 26vw;
  transform: translate(-50%, -50%) rotate(180deg);
  height: 26vw;
}

#captor:hover ~ #child_image img {
  top: calc(-50vh + 13vw);
  left: calc(-50vw + 13vw);
}
